.course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #333C6A;
  padding: 30px 0; }

.switch, .course__wrap {
  display: none; }

.card {
  margin-top: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
          box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border: 1px solid #fff;
  border-radius: 8px;
  width: 80%;
  height: 40%;
  position: relative;
  padding-bottom: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px; }
  .card__image {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 80%;
    border-radius: 8px 8px 0 0; }
  .card__title {
    color: #333C6A; }
  .card__text {
    list-style: none;
    list-style-image: url(../image/marker1.png);
    text-align: start;
    margin-left: 40px; }
  .card__more {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 10px;
    font-weight: bold; }

.hidden {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(196, 196, 196, 0.5);
  z-index: 6; }
  .hidden__window {
    background: white;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 10px;
    padding: 40px 10px 10px 10px; }
  .hidden__title {
    -ms-flex-item-align: center;
        align-self: center;
    color: #333C6A; }
  .hidden__statistics {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr); }
  .hidden__text {
    text-align: justify; }
  .hidden__comment {
    font-weight: bold; }
  .hidden__close {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer; }

@media (min-width: 992px) {
  .course {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px; }
    .course__wrap {
      position: relative;
      width: calc(80% + 50px);
      display: block; }
    .course__carousel {
      overflow: hidden;
      width: 100%;
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 30px; }
    .course__arrow {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #34BC5A;
      background-color: #34BC5A;
      top: calc(50% - 25px);
      z-index: 2; }
    .course__arrow_left {
      left: -25px; }
    .course__arrow_right {
      right: -25px; }
    .course__arrowSvg {
      position: absolute;
      top: calc(50% - 5px);
      left: calc(50% - 9px); }
      .course__arrowSvg_left {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); }
      .course__arrowSvg_right {
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg); }
    .course__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 100%;
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease; }
    .course__slide {
      min-width: 100%;
      min-height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly; }
    .course__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      gap: 20px;
      padding: 20px;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
    .course__title {
      color: #333C6A; }
    .course__statistics {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px 20px;
      justify-items: start; }
    .course__text {
      text-align: justify; }
    .course__comment {
      font-weight: bold; }
    .course__imgWrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .course__img {
      -o-object-fit: cover;
         object-fit: cover;
      width: 90%;
      height: 80%;
      border-radius: 30px; }

  .card {
    display: none; }

  .switch {
    margin-top: 10px;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .switch__button {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      color: #fff;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 10px;
      font-size: large; }
      .switch__button:hover {
        color: #34BC5A; }
        .switch__button:hover .switch__ring {
          background-color: #34BC5A; }
    .switch__ring {
      background-color: #fff;
      color: #333C6A;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      -ms-flex-item-align: center;
          align-self: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .switch__line {
      background-color: #fff;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); } }
