$blue: #333C6A;
$green: #34BC5A;
.course {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    background-color: $blue;
    padding: 30px 0;
}
.switch, .course__wrap {
    display: none;
}
.card {
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border: 1px solid #fff;
    border-radius: 8px;
    width: 80%;
    height: 40%;
    position: relative;
    padding-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__image {
        object-fit:cover;
        width: 100%;
        height: 80%;
        border-radius: 8px 8px 0 0;
    }
    &__title {
        color: $blue;
    }
    &__text {
        list-style: none;
        list-style-image: url(../image/marker1.png);
        text-align: start;
        margin-left: 40px;

    }
    &__more {
        align-self: flex-end;
        margin-right: 10px;
        font-weight:bold;
    }
}
.hidden {
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(196, 196, 196, 0.5);;
    z-index: 6;
    &__window {
        background: rgba(255, 255, 255, 1);
        border-radius: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        padding: 40px 10px 10px 10px;
    }
    &__title {
        align-self: center;
        color: $blue;
    }
    &__statistics {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    &__text {
        text-align: justify;
    }
    &__comment {
        font-weight: bold;
    }
    &__close {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
    }
}

@media (min-width: 992px)  {
    .course {
        flex-direction: column;
        justify-content: space-around;
        align-items: center; 
        gap: 20px;
        &__wrap {
            position: relative;
            width: calc(80% + 50px);
            display: block;
        }
        &__carousel {
            overflow: hidden;
            width: 100%;
            background-color: #fff;
            border: 1px solid #fff;
            border-radius: 30px;
        }
        &__arrow {
            position:absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid $green;
            background-color: $green;
            top: calc(50% - 25px);
            z-index: 2;
         }
         &__arrow_left {
            left: -25px;
        }
         &__arrow_right {
            right: -25px;
         }
         &__arrowSvg {
            position: absolute;
            top: calc(50% - 5px);
            left: calc(50% - 9px);
            &_left {
              transform: rotate(90deg);
            }
            &_right {
              transform: rotate(-90deg);
            }
          }
        &__inner {
            display: flex;
            width: 100%;
            height: 100%;
            transition: all 300ms ease;
        }
        &__slide {
            min-width: 100%;
            min-height: 100%;
            display: flex;
            justify-content: space-evenly;
        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: flex-start;
            gap: 20px;
            padding: 20px;
            flex-basis: 50%;
        }
        &__title {
            color: $blue;
        }
        &__statistics {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5px 20px;
            justify-items: start;
        }
        &__text {
            text-align: justify;
        }
        &__comment {
            font-weight: bold;
        }
        &__imgWrap {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__img {
            object-fit:cover;
            width: 90%;
            height: 80%;
            border-radius: 30px;
        }
    }
    .card {
        display: none;
    }
    .switch {
        margin-top: 10px;
        width:80%;
        display: flex;
        justify-content: space-around;
        &__button {
            background-color: rgba(0,0,0,0);
            border:none;
            color: #fff;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: large;
            &:hover {
                color: $green;
                & .switch__ring {
                    background-color: $green; 
                }
            }
        }
        &__ring {
            background-color: #fff;
            color: $blue;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            align-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__line {
            background-color: #fff;
            transform: rotate(90deg);
        }
    }
}
