$blue: #333C6A;
$green: #34BC5A;
.course {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    background-color: $blue;
    padding: 30px 0;
}

.card {
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border: 1px solid #fff;
    border-radius: 8px;
    width: 80%;
    height: 40%;
    position: relative;
    padding-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__image {
        object-fit:cover;
        width: 100%;
        height: 80%;
        border-radius: 8px 8px 0 0;
    }
    &__title {
        color: $blue;
    }
    &__text {
        list-style: none;
        list-style-image: url(../image/marker1.png);
        text-align: start;
        margin-left: 40px;

    }
    &__more {
        align-self: flex-end;
        margin-right: 10px;
        font-weight:bold;
    }
}
/*.card__title {
    height: 70px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card__summary {
    list-style: none;
}
.card__image {
    object-fit:cover;
    width: 100%;
    height: 80%;
    border-radius: 8px 8px 0 0;
}
.card__button {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card__content {
   text-align: left;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 10px;
   height: 150px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-top: 1px solid #DDE2E5;
   & ul {
    list-style: none;
    list-style-image: url(../image/marker1.png);
    padding-left: 30px;
   }
}
.card[open] {
    .card__arrow {
        transform: rotate(180deg);
    }
}
*/
@media (min-width: 992px)  {
    .course {
        flex-direction: row;
        justify-content:space-around;
        align-items:flex-start; 
    }
    .card {
        width: 22%;
    }
}
