.footer {
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px 10px;
  row-gap: 20px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "about about about" "number number number" "telegram whatsapp viber" "mail mail mail"  "address address address"; }
  .footer__about {
    grid-area: about; }
  .footer__number {
    grid-area: number;
    font-size: x-large; }
  .footer__telegram {
    grid-area: telegram;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center; }
  .footer__whatsapp {
    grid-area: whatsapp;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center; }
  .footer__viber {
    grid-area: viber;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center; }
  .footer__mail {
    grid-area: mail;
    font-size: large; }
  .footer__address {
    grid-area: address;
    font-size: large; }
  .footer img {
    width: 50%;
    height: 50%; }
  .footer a, .footer p {
    text-decoration: none;
    color: #333C6A; }
