.header {
    box-sizing: border-box;
    min-height: 400px;
    width: 100%;
    background-image: url(../image/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    padding: 0 10px;
    color:  #DDE2E5;   
    &__flexbox {
        padding-top: 5vh; 
        width: 70%;
        height: 100%;
        text-align: center;
    }
    
}
.nav {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #DDE2E5;
    z-index: 6;
    transform: translateX(-100vw);
    transition: transform 300ms linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__list {
        display: flex;
        flex-direction: column;
        font-size: x-large;
        gap: 40px;
    }
    &__item {
        border: none;
        background: none;
    }
    &__link {
        text-decoration: none;
        color: #000;
        font-weight: 600;
        font-size: x-large;
        &:hover {
            color: #4263EB;
        }
        &:active{
            color: #7048E8;
        }
    }
}
.nav[data-open] {
    transform: translateX(0);
}
.nav__close {
    display: block;
    position:absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}
.sidebar {
    position: fixed;
    z-index: 5;
    top: 20px;
    left: 20px;
    cursor: pointer;
}
@media (min-width: 576px) {
    .sidebar, .nav__close {
        display: none;
    }
    .header__flexbox {
            width: 60%;       
    }
    .nav {
        transform: translateX(0);
        background: none;
        position: sticky;
        padding-top: 12px;
        padding-bottom: 10px;
        display: block;
        width: 100%;
        height: 30px;
        font-size: large;
        border-bottom: 1px solid #fff;
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(8px);
        &__list {
            display:flex;
            flex-direction: row;
            justify-content:space-evenly;
            align-items: center;
            width: 100%;
            gap: 0;
            
        }
        &__item {
            border-radius: 10px;
            cursor: pointer;
            :hover {
                color: #000; 
            }
        }
        &__link {
            font-size: medium;
            color: #DDE2E5;
            position: relative;
            &:after {
                display: block;
	            position: absolute;
	            left: 0; 
	            width: 0;
	            height: 2px; 
	            background-color: #000; 
	            content: "";
	            transition: width 0.3s ease-out;
            }
            &:hover:after, &:focus:after {
                width: 100%;
            }
        }
    }
}
@media (min-width: 992px) {
    .header {
      font-size: x-large;
      min-height: 500px;
      &__flexbox {
        padding-top: 5vh;
       }
    }
    .nav {
        &__link {
          font-size: large;
        }
        &__item {
            padding: 2px 30px;
        }
    }
}