.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  background-image: url("../image/headerS.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  position: relative;
  padding: 0; }
  .header__content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px; }
  .header__left {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    -ms-flex-item-align: center;
        align-self: center;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 5vh 15px; }
  .header__title {
    color: #333C6A; }
  .header__button {
    color: #fff;
    background-color: #34BC5A;
    border-radius: 30px;
    cursor: pointer;
    padding: 5px;
    font-size: medium; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 6;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: x-large;
    gap: 40px; }
  .nav__item {
    border: none;
    background: none; }
  .nav__link {
    text-decoration: none;
    color: #333C6A;
    font-weight: 600;
    font-size: x-large; }
    .nav__link:hover {
      color: #34BC5A; }
    .nav__link:active {
      color: #34BC5A; }

.nav[data-open] {
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.nav__close {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer; }

.sidebar {
  position: fixed;
  z-index: 5;
  top: 20px;
  left: 20px;
  cursor: pointer; }

@media (min-width: 450px) {
  .header {
    height: 400px; } }
@media (min-width: 576px) {
  .header {
    height: 500px; }
    .header__content {
      width: 100%;
      height: 100%;
      margin-top: -53px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 10px; }

  .sidebar, .nav__close {
    display: none; }

  .nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background: none;
    position: -webkit-sticky;
    position: sticky;
    padding-top: 12px;
    padding-bottom: 10px;
    display: block;
    width: 100%;
    height: 30px;
    font-size: large;
    border-bottom: 1px solid #333C6A;
    background: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px); }
    .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%; }
    .nav__item {
      cursor: pointer; }
      .nav__item :hover {
        color: #34BC5A; }
    .nav__link {
      font-size: medium;
      color: #333C6A;
      position: relative; }
      .nav__link:after {
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #34BC5A;
        content: "";
        -webkit-transition: width 0.3s ease-out;
        transition: width 0.3s ease-out; }
      .nav__link:hover:after, .nav__link:focus:after {
        width: 100%; } }
@media (min-width: 700px) {
  .header {
    background-image: url("../image/header.png"); } }
@media (min-width: 992px) {
  .header {
    height: 600px;
    font-size: x-large; }
    .header__flexbox {
      padding-top: 5vh; }
    .header__button {
      font-size: large;
      padding: 15px; }
    .header__left {
      gap: 40px; }

  .nav__link {
    font-size: large; }
  .nav__item {
    padding: 2px 30px; } }
@media (min-width: 1400px) {
  .header {
    height: 700px;
    font-size: xx-large; } }
