.reviews {
  background-color: #333C6A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 10px;
  gap: 30px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .reviews__wrap {
    width: 80%;
    position: relative;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 30px; }
  .reviews__carousel {
    overflow: hidden;
    width: 100%;
    height: 100%; }
  .reviews__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
  .reviews__slide {
    min-width: 100%;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 10px;
    padding: 10px; }
  .reviews__arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #34BC5A;
    background-color: #34BC5A;
    top: calc(50% - 25px);
    z-index: 2; }
  .reviews__arrow_left {
    left: -25px; }
  .reviews__arrow_right {
    right: -25px; }
  .reviews__arrowSvg {
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 9px); }
    .reviews__arrowSvg_left {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    .reviews__arrowSvg_right {
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); }
  .reviews__name {
    color: #333C6A;
    font-size: large; }
  .reviews__img {
    border-radius: 50%; }
