.reviews {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 250px;
  width: 100%;
  padding: 0 20px;
  margin-top: 10px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .reviews__carousel {
    position: relative;
    min-height: 100%;
    overflow: hidden; }
  .reviews__arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #DDE2E5;
    top: calc(50% - 5px);
    z-index: 2; }
  .reviews__arrow_left {
    left: 0; }
  .reviews__arrow_right {
    right: 0; }
  .reviews__arrowSvg {
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 9px); }
    .reviews__arrowSvg_left {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    .reviews__arrowSvg_right {
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); }
  .reviews__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
  .reviews__slide {
    min-width: 100%;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .reviews__text {
    width: 60%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .reviews__img {
    width: 40%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    padding-right: 40px; }

@media (min-width: 576px) {
  .reviews {
    font-size: large; } }
@media (min-width: 992px) {
  .reviews {
    font-size: x-large;
    height: 400px;
    padding: 0 40px; }
    .reviews__text {
      padding-left: 40px; } }
