body { 
    background-color:#3e3f40;
    font-family: sans-serif;
    color: #fff;
}
 
header{
    background-color:#000;
    height: 100px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px; 
    border-bottom: 1px inset black; 
    z-index: 2;  
}
#logo {
    position:fixed;
    top: 5px;
    left: 10px;
}

#dark {
    position:fixed;
    top:37px;
    right:20px;
    font-weight: bold;
    font-family: serif;
}

p#dark a:link, p#dark a:visited {
      color: #fff;
      font-weight: bold;
      font-family: serif;
      text-decoration: none; 
}

#video {
       position: absolute;
       top: 95px;
       left: -3px;
       right: -3px;
       width: 100%;
       height: 680px;
       object-fit: cover;
       padding: 0px; 
       z-index: 0;
       border-style: inset;
       border-color: #c5c6c9;
} 

#starttext {
       position: relative;
       top: 330px;
       z-index: 1;
       font-weight: bolder;
       font-size: 220%;
       color: #fff;
       text-align: center;
       font-style: oblique;
}
nav ul {
     margin: 0px;
     list-style-type:none;
     position:fixed;
     top: 67px;
     left: 110px;
     padding:  7px 10px 3px 10px;
}   

nav ul li {
     color: #000;
     display: inline;
     padding: 5px 10px 5px 10px;
     
} 

nav ul li a:link, nav ul li a:visited {
      color: #fff;
      font-weight: bold;
      font-family: serif; 
      borded-bottom: none;
      text-decoration: none; 
}

nav ul li a:hover, p#dark a:hover {
      color: #686b6b;
}

nav ul li.selected {
      background-color: #3e3f40;
      border: 1px inset #fff;
}



div#tableContainer {
        display: table;
        border-spacing: 30px;
        margin-top: 710px; 
        margin-left: auto;
        margin-right:auto;
}

#tableContainer a:hover {
        color:#000;
}
       

div#tableRow1 {
        display:table-row;
}

div#tableRow2 {
       display:table-row;
}

div#tableRow3 {
       display: table-row;
}

.cell {
       display: table-cell;
       text-align: center;
       
}
.cell a:link, .cell a:visited {
       color: #fff;
       font-weight: bold; 
       borded-bottom: none;
       text-decoration: none;
}

.cell img:hover {
       transform:scale(1.04);
       transition: 1.5s;
}


footer {
     text-align: center;
     margin: 10px 10px 0px 10px
     font-size: 80%;
     font-style: italic;
     clear: right;
}

.moto {
      border-radius: 15px;
      border-style: inset;
      border-color: #c5c6c9;
}    

#about {
      margin: 120px 20px 20px 20px;
      line-height: 120%;
} 

div#abouttable {
        display: table;
               
}
div#aboutrow {
      display:table-row;
}

.aboutmoto {
      display: table-cell;
      vertical-align: top;
      border-radius: 15px;
      border-style: inset;
      border-color: #c5c6c9;  
}
.aboutcell {
      display: table-cell;
      vertical-align: top;
      padding: 10px 10px 10px 0px;
}

span.abouttitle {
      font-size: 120%;
      font-weight: bold;
}


#history {
      margin: 120px 20px 20px 20px;
      line-height: 120%;
}

.historymoto {
      float: right;
      text-align: center;
      padding: 10px;
}

.historyimages {
      border-radius: 15px;
      border-style: inset;
      border-color: #c5c6c9;    
}

#historydaymler {
        float: left;
        text-align: center;
        padding: 10px;
} 
span.historytitle {
        font-size: 120%;
        font-weight: bold;
}
span.historycom {
       color: #fff;
       font-weight: bold; 
       borded-bottom: none;
       text-decoration: none;
}

#new {
       margin: 120px 20px 20px 20px;
       line-height: 120%;
       display: table;
       width: 900px;
       margin-left:  auto;
       margin-right: auto;          
}

.tablerownew {
       display:table-row; 
}

.newimages {
      float:left;
      padding: 10px;
      border-radius: 15px;
      border-style: groove;
      border-color: #c5c6c9;
      margin: 15px;
}

.newcell {
       display: table-cell;
       border-bottom: 1px solid #fff;
       vertical-align: top;
}

.newcell a:link, .newcell a:visited {
       color: #fff;
       font-weight: bold; 
       borded-bottom: none;
       text-decoration: none;
}

.newcell a:hover {
       color: #000;
}

.newcell img:hover {
       transform:scale(1.04);
       transition: 1.5s;
      
}


#hondamain {
       margin: 120px 20px 20px 20px;
       line-height: 120%;
       width: 1000px;
       margin-left: auto;
       margin-right: auto;
}

.hondah2 {
       text-align:center;
       font-size: 120%;
}

.hondaimages {
      padding: 10px;
      border-radius: 15px;
      border-style: groove;
      border-color: #c5c6c9;
      margin: 15px 100px 15px 100px;  
} 

.hondaimages:hover {
      transform:scale(1.05);
      transition: 1.5s;
} 

table {
      caption-side: top; 
      border-spacing: 10px 30px; 
      border-collapse: collapse;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
}

td, th {
     border : thin solid gray;
     padding: 10px;
}

caption  {
     font-size: 140%;
     font-weight: bold;
     padding-bottom: 10px;
}

.tableleft {
     text-align: left;
}


.companylogo {
      float:right;
}
#hondatext {
      clear: right;
}
