@import './scss/normalize.css';
@import './scss/header.css';
@import './scss/course.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto&family=Source+Sans+3:wght@200;300;400&display=swap'); //шрифт Roboto
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&family=Source+Sans+3:wght@200;300;400&display=swap'); // Inter
@import './scss/teacher.css';
@import './scss/reviews.css';
@import './scss/footer.css';
$blue: #333C6A;
$green: #34BC5A;
html {
    scroll-behavior: smooth; 
}
body {
    background-color: #DDE2E5;
    font-family: 'Inter', sans-serif;
    font-size: medium;
    line-height: 1.5;
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
}
body[data-open] {
    overflow: hidden;
}
h2 {
    text-align: center;
}
.about {
    border: 1px solid #fff;
    border-radius: 30px;
    width: 60%;
    padding: 0 5px;
    &_white {
        color:#fff;
    }
}
#up {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 80px;
    height: 80px;
    z-index: 5;
    background-color: #048508;
    border-radius: 50%;
    border: 1px solid #000;
}
.up__arrow {
    position: absolute;
    top: calc(50% - 10px);
    left:calc(50% - 15px);
    transform: rotate(180deg);
}
.link {
    text-decoration: none;
    color: #fff;
}