@import url(./scss/normalize.css);
@import url(./scss/header.css);
@import url(./scss/course.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto&family=Source+Sans+3:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&family=Source+Sans+3:wght@200;300;400&display=swap");
@import url(./scss/teacher.css);
@import url(./scss/reviews.css);
@import url(./scss/footer.css);
html {
  scroll-behavior: smooth; }

body {
  background-color: #DDE2E5;
  font-family: 'Inter', sans-serif;
  font-size: medium;
  line-height: 1.5;
  font-weight: 500;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body[data-open] {
  overflow: hidden; }

h2 {
  text-align: center; }

.about {
  margin-top: 30px; }

#up {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 80px;
  height: 80px;
  z-index: 5;
  background-color: #048508;
  border-radius: 50%;
  border: 1px solid #000; }

.up__arrow {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 15px);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }
