* {
	box-sizing: border-box;
}
body { 
    margin: 0px;
    background-color:#3e3f40;
    font-family: sans-serif;
    color: #fff;
}

/* --------header-----------------------------*/
header {
    background-color:#000;
    min-height: 20px;
    
    border-bottom: 1px inset black; 
    margin-bottom: 0px;    
    align-items: center;
}

.logoBlock {
    margin-top: -2%;
}

#logo {
    width: 70%;
}

/*------------menu----------------*/

.navBlock {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    
}

.menu_list {
    list-style-type: none;
    display: flex;
    gap: 30px;
    
}
.menu_icon {
    display: none;
}


@media(max-width:768px) {
    .menu_body {
        position: absolute;
        top:0;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: #000;
        display: flex;
        transition: all 0.2s;
        overflow: auto;
        z-index: 2;
    }

    .lock {
        overflow: hidden;
    }

    .menu_body.active {
        left: 0;
    }
    
    .menu__icon {
        display: block;
        height: 30px;
        width: 18px;
        position: relative;
        z-index: 3;
        cursor: pointer;
    }
    .menu_list {
        flex-direction: column;
        gap: 30px;
        margin: auto;
        padding: 30px;
    }
    .navbar_item {
        display: block;
        font-size: 40px;
        line-height: 80px;
    }
    span {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all 0.2s;
    }
    span:first-child {
        top:10%;
        
    }
    span:last-child {
        top:auto;
        bottom: 10%;
        
    }
    .active span {
        transform: scale(0);
    }
    .active span:first-child {
        transform: rotate(-45deg);
		top: calc(50% - 1px);
    }
    .active span:last-child {
        transform: rotate(45deg);
		bottom: calc(50% - 1px);
    }
}

.menu__link:visited, .menu__link:link {
    text-decoration: none;
    color:#fff;
}

.navbar_item a:hover {
    text-decoration: none;
    color: #686b6b;
}

.navbar_item a:active {
    text-decoration: none;
    color: red;  
}


/*------------/menu----------------*/
/*-----------/header---------------------------------*/
/*--------------------------------------index-----------------------------------*/
/*-----------video-----------*/
.videoRow {  
    min-height: 200px;
    margin-bottom: 30px;
    
}

.videoCol {
    margin: 0px;
    padding: 0px;
}

.videoBlock {
    margin: 0px;
    padding:0px;
}

#video {
    object-fit: fill; 
    height: 100%;
    width:100%;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px inset black;
} 
#starttext {
    position: absolute;
    top: 300px;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-weight: bolder;
    font-size: 170%;
    color: #fff;
    
    font-style: oblique;
}

@media(max-width:768px) {
    #starttext { 
     position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-weight: bolder;
    font-size: 100%;
    color: #fff;
   
    font-style: oblique;
    
    }
}

@media(max-width:575px) {
    #starttext { 
    position: absolute;
    top: 150px;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-weight: bolder;
    font-size: 100%;
    color: #fff;
    
    font-style: oblique;
    
    }
}

@media(max-width:410px) {
    #starttext { 
       position: absolute;
       top: 100px;
       width: 100%;
       text-align: center;
       z-index: 1;
       font-weight: bolder;
       font-size: 100%;
       color: #fff;
       
       font-style: oblique;
    }
}
/*----------/video---------*/
/*----------brandrows------*/
.brandRow {
    min-height: 300px;
    margin-bottom: 20px;
} 

.brandBlock {
    text-align: center;
    max-width:100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.brandBlock a:link, .brandBlock a:visited {
    color:#fff;
    text-decoration: none;
}

.brandBlock a:hover {
    text-decoration: none;
    color: #000;
}

.brandBlock a:active {
    text-decoration: none;
    color: red;
}

.brandBlock a:link img, .brandBlock a:visited img {
    border: 1px outset black;
    border-radius: 15px;
}

.brandBlock a:hover img {
    border: 1px outset black;
    border-radius: 15px;
    transform:scale(1.04);
    transition: 1.5s;
}

.brandBlock a:active img {
    border: 2px inset red;
    transform:scale(1.0);
    transition: 0s;
}

.brandImg {
    max-width: 100%;
    min-height: 100%;
}
.brandText {
    padding: 2%;
}
/*----------/brandrows-----*/
/*-------------------------------------------/index----------------------------------*/
/*-------------------------------------------company.html------------------------------*/
.companyBody {
    margin-left: 2%;
    margin-right: 2%;
}
.companyimages {
    padding: 10px;
    border-radius: 15px;
    border-style: groove;
    border-color: #c5c6c9;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%; 
} 
.companyimages:hover {
    transform:scale(1.05);
    transition: 1.5s;
} 
.companyh4 {
    text-align: center;
}
table {
    caption-side: top; 
    border-spacing: 10px 30px; 
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}
td, th {
    border : thin solid gray;
    padding: 10px;
}
caption  {
    font-size: 140%;
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
}
.tableleft {
    text-align: left;
}

@media(min-width:1140px){
    .companyBody {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width:768px) {
    table {
        display: none;
    } 
    .companyBody {
        margin-left: 0;
        margin-right: 0;
    }
}
@media(max-width:575px) {
    .companylogo {
        width: 30%;
        height: 100%;
        margin-right: 0;
    }
    .companyBody {
        text-align: center;
    }
}
/*----------------------------------------/company.html--------------------------------*/
/*-----------------------------------------about.html----------------------------------*/
.aboutBody {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
@media(max-width:768px) {
    .aboutBody {
        margin-left: 0;
        margin-right: 0;
    }
}
@media(max-width:575px) {
    .aboutBody {
        text-align:justify;
    }
}
@media(max-width:480px) {
    .aboutmoto {
       width:100%;
    }
}
.abouth2, .abouth4 {
    padding-top: 2%;
    text-align: center;
}

.aboutmoto {
    border-radius: 15px;
    border-style: inset;
    border-color: #c5c6c9; 
}
.aboutmoto:hover {
    transform:scale(1.05);
    transition: 1.5s;
} 
/*-----------------------------------------/about.html----------------------------------*/
/*----------------------------------------history.html----------------------------------*/
.historyImg {
    border-radius: 15px;
    border-style: inset;
    border-color: #c5c6c9; 
    max-width: 100%;  
    max-height: 80%;
      
}
.historyImg:hover {
    transform:scale(1.05);
    transition: 1.5s;
} 
.historyPhoto {
    text-align: center;
    float: right;
    margin: 2px;
    padding: 2px;
}
.historySign {
    font-size: 120%;
    margin: 2px;
}
@media(max-width:575px) {
    .historyPhoto {
       float: none;
       margin-left: auto;
       margin-right: auto;
    }
}
/*----------------------------------------/history.html---------------------------------*/
/*________________________________________news.html--------------------------------------*/
.newCol {
    border-bottom: 1px solid #fff;
}
.newlink {
    padding: 5px;
    margin: 5px;
}

.newlink a:link, .newlink a:visited {
    color: #fff;
    font-weight: bold; 
    text-decoration: none;
}
.newlink a:hover {
    color: #000;
}
.newlink a:active {
    color:red;
}
.newlink a:active img {
    border: 2px inset red;
    transform:scale(1.0);
    transition: 0s;
}

.newsmoto {
    width:100%;
    object-fit:cover;
}

/*----------------------------------------/news.html------------------------------------*/
footer {
    min-height: 50px;
    width: 100%;
    margin-top: 30px;
    padding-top: 2%;
    text-align: center;
    font-size: 80%;
    font-family: sans-serif;
}